<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }} | {{ page.title }}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">
		<link rel="stylesheet" href="/pages/code-theme.css">
		<link rel="stylesheet" href="/pages/spinner.css">
        <script src="https://elementa.js.org/dist/0.3.0.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9QGWBDVQ8B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-9QGWBDVQ8B');
        </script>

    </head>
	<body class="w3-dark-gray">
		<div id="loading">
			 <div class="spinner"></div>
		</div>

        <template id="site-menu">
            <div class="w3-bar">
                <span class="w3-bar-item w3-text-theme w3-large">
                    <b>{{ site.title }}</b>
                </span>
                <span class="w3-bar-item">
                    {{ site.description }}
                </span>
				<a class="w3-bar-item w3-button" href="#how-it-works">How it works</a>
				<a class="w3-bar-item w3-button" href="{{ site.github_url }}">View on GitHub</a>
				<!-- <a class="w3-bar-item w3-button w3-theme w3-hover-theme w3-round" href="https://transparentlottery.com/example">Check draw results</a> -->
            </div>
        </template>

        <!-- Donation -->
        <a class="w3-button w3-block w3-theme w3-hover-theme" onclick="document.getElementById('donation').style.display='block'">{{ site.title }} need your support!</a>
        <div id="donation" class="w3-modal">
        <div class="w3-modal-content w3-white w3-round">
            <div class="w3-container">
                <span class="w3-button w3-display-topright" onclick="document.getElementById('donation').style.display='none'">&times;</span>
                <div class="w3-container w3-padding-32 w3-center">
                    <h3 class="w3-text-theme w3-center">Donate to {{ site.title }}</h3>
                    <hr>
                    <p>
                        Send us any value to the address:<br>
                        <b>
                            <span id="donation-address"></span>
                        </b>
                    </p>
                    <hr>
                    <p>You can use this QR code in your wallet to send us any value:</p>
                    <p>
                        <img id="donation-qrcode" src=""><br>
                    </p>
                    <p>
                        <span id="donation-transaction" class="w3-small"></span><br>
                        <button id="donation-copy" class="w3-small w3-button w3-round w3-theme" onclick="copy_to_clipboard()">Copy transaction and paste in your wallet.</button>
                    </p>
                    <hr>
                    <p>Thanks for your support!</p>
                    <script>
                        const button      = "Copy transaction and paste in your wallet.";
                        const message     = "{{ site.title }} donation";
                        const address     = "{{ site.donation_address }}";
                        const transaction = `bitcoin:${address}?label=${encodeURIComponent(message)}&message=${encodeURIComponent(message)}`;
                        const qrcode      = `https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=${encodeURIComponent(transaction)}`;

                        document.getElementById("donation-qrcode").src            = qrcode;
                        document.getElementById("donation-address").innerText     = address;
                        document.getElementById("donation-transaction").innerText = transaction;
                        document.getElementById("donation-copy").innerText        = button;

                        async function copy_to_clipboard()
                        {
                            await navigator.clipboard.writeText(transaction);
                            document.getElementById("donation-copy").innerText = "Copied!";
                            setTimeout(function() {
                                document.getElementById("donation-copy").innerText = button;
                            }, 2000);
                        }
                    </script>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="w3-padding-32 w3-center w3-white">
            <site-menu></site-menu>
        </div>

        <!-- Main -->
        <div class="w3-container w3-padding-32 w3-center w3-white">
            <p class="w3-xxxlarge">Public, verifiable lottery<br>powered by Bitcoin hash.</p>
            <p class="w3-padding-32 w3-center w3-xlarge">
                <!-- <a class="w3-bar-item w3-button w3-theme w3-round" href="#million-draw" >Participate in the Million Draw</a> -->
                <!-- <a class="w3-bar-item w3-button w3-theme w3-round" href="https://transparentlottery.com/example">Check draw results</a> -->
                <a class="w3-bar-item w3-button w3-white w3-border w3-border-theme w3-round w3-text-theme" href="#how-it-works">How it works</a>
                <!-- <a class="w3-bar-item w3-button w3-white w3-border w3-border-theme w3-round w3-text-theme" href="#make-you-own-lottery">Make you own lottery</a> -->
            </p>
            <div class="w3-container w3-padding-64"></div>
            <div class="w3-container w3-padding-64"></div>
        </div>

        <div id="how-it-works" class="w3-container w3-padding-64 w3-dark-grey w3-center">
			<div class="w3-content">
				{{ content }}
			</div>
		</main>

		<footer class="w3-container w3-center w3-padding-64 w3-margin-top">
			<site-menu></site-menu>
			<p class="w3-tiny">Copyright (c) {{ site.time | date: "%Y" }} D. H. B. Marcos.<br>Deo omnis gloria.</p>
		</footer>
	</body>
    <script>
        window.addEventListener("load", function() {
            const loading = document.getElementById("loading");
            loading.classList.add("fade-out");

            loading.addEventListener("transitionend", function() {
                loading.remove();
            });
        });
  	</script>
  </html>
