<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.title }} | {{ page.title }}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">
		<link rel="stylesheet" href="/pages/code-theme.css">
		<link rel="stylesheet" href="/pages/spinner.css">
        <script src="https://elementa.js.org/dist/0.3.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <style>
            video {
                display: inline-block;
            }
            .container { max-width: 80vw; margin: auto; margin-top: 1vh; }
            .hidden { display: none; }

            html {
                scroll-behavior: smooth;
            }
        </style>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9QGWBDVQ8B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-9QGWBDVQ8B');
        </script>

    </head>
	<body class="w3-black">
		<div id="loading">
			 <div class="spinner"></div>
		</div>

        <template id="site-menu">
            <div class="w3-bar">
                <a class="w3-bar-item w3-button w3-text-theme w3-large" href="https://transparentlottery.com">
                    <b>{{ site.title }}</b>
                </a>
                <span class="w3-bar-item">
                    {{ site.description }}
                </span>
				<a class="w3-bar-item w3-button" href="https://transparentlottery.com/#how-it-works">How it works</a>
				<a class="w3-bar-item w3-button" href="{{ site.github_url }}">View on GitHub</a>
				<a class="w3-bar-item w3-button w3-theme w3-round" href="https://transparentlottery.com/example">Example</a>
            </div>
        </template>

        <!-- Donation -->
        <a class="w3-button w3-block w3-theme w3-hover-theme" onclick="document.getElementById('donation').style.display='block'">{{ site.title }} need your support!</a>
        <div id="donation" class="w3-modal">
        <div class="w3-modal-content w3-white w3-round">
            <div class="w3-container">
                <span class="w3-button w3-display-topright" onclick="document.getElementById('donation').style.display='none'">&times;</span>
                <div class="w3-container w3-padding-32 w3-center">
                    <h3 class="w3-text-theme w3-center">Donate to {{ site.title }}</h3>
                    <hr>
                    <p>
                        Send us any value to the address:<br>
                        <b>
                            <span id="donation-address"></span>
                        </b>
                    </p>
                    <hr>
                    <p>You can use this QR code in your wallet to send us any value:</p>
                    <p>
                        <img id="donation-qrcode" src=""><br>
                    </p>
                    <p>
                        <span id="donation-transaction" class="w3-small"></span><br>
                        <button id="donation-copy" class="w3-small w3-button w3-round w3-theme" onclick="copy_to_clipboard()">Copy transaction and paste in your wallet.</button>
                    </p>
                    <hr>
                    <p>Thanks for your support!</p>
                    <script>
                        const button      = "Copy transaction and paste in your wallet.";
                        const message     = "{{ site.title }} donation";
                        const address     = "{{ site.donation_address }}";
                        const transaction = `bitcoin:${address}?label=${encodeURIComponent(message)}&message=${encodeURIComponent(message)}`;
                        const qrcode      = `https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=${encodeURIComponent(transaction)}`;

                        document.getElementById("donation-qrcode").src            = qrcode;
                        document.getElementById("donation-address").innerText     = address;
                        document.getElementById("donation-transaction").innerText = transaction;
                        document.getElementById("donation-copy").innerText        = button;

                        async function copy_to_clipboard()
                        {
                            await navigator.clipboard.writeText(transaction);
                            document.getElementById("donation-copy").innerText = "Copied!";
                            setTimeout(function() {
                                document.getElementById("donation-copy").innerText = button;
                            }, 2000);
                        }
                    </script>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="w3-padding-32 w3-center w3-white">
            <site-menu></site-menu>
        </div>

        <!-- Main -->
        <div class="w3-padding-32 w3-white">
			<div class="w3-content">
                <div class="w3-container container w3-padding-64">
                    <div class="w3-container container w3-white w3-padding" >
                        <div class="w3-padding">
                            <h1 class="w3-text-blue w3-center">Transparent Lottery Example</h1>

                            <div id="draw-video-container" class="w3-container w3-center w3-animate-opacity">
                                <video id="draw-video" class="w3-round-xlarge" width="75%" muted autoplay playsinline loop>
                                    <source src="https://example.transparentlottery.com/draw.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div id="results-video-container" class="w3-container w3-center w3-animate-opacity" hidden>
                                <video id="results-video" class="w3-round-xlarge" width="75%" loop muted>
                                    <source src="https://example.transparentlottery.com/results.mp4" type="video/mp4">
                                </video>
                            </div>

                            <p class="w3-center">Understand how it works at <a href="https://transparentlottery.com">https://transparentlottery.com</a>.</p>

                            <div id="form" class="w3-padding w3-animate-opacity" hidden>
                                <H2>Check Draw Results</H2>

                                <label class="w3-margin-top">
                                    <b class="w3-text-orange ">Game Base</b><br/>
                                    <span class="w3-small">Number of options for each game play.</span>
                                </label>
                                <input class="w3-input" type="number" id="base-input" min="2" max="256" value="6",>

                                <label class="w3-margin-top">
                                    <b class="w3-text-orange ">Bitcoin Block</b><br/>
                                    <span class="w3-small">Height of Bitcoin block.</span>
                                </label>
                                <input class="w3-input" type="number" id="block-input" min="0" value="0">

                                <label class="w3-margin-top">
                                    <b class="w3-text-orange ">Roll Number</b><br/>
                                    <span class="w3-small">Roll applied in the draw seed number.</span>
                                </label>
                                <input class="w3-input" type="number" id="roll-input" min="0" value="0" readonly>

                            </div>
                        </div>
                        <div class="w3-padding">
                            <button class="w3-button w3-orange w3-text-white w3-margin-top w3-block w3-round" onclick="show_results()">Check Results</button>
                        </div>

                        <div id="results-box" class="w3-padding w3-center w3-animate-opacity" hidden>
                            <h3>Draw Results</h3>
                            <div id="result-balls" class="w3-container">
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    async function set_block_input_default() {
                        try {
                            let response = await fetch("https://mempool.space/api/blocks/tip/height");
                            const height = await response.json();
                            document.getElementById("block-input").value = height;
                        } catch(error) {
                            console.error(error);
                            document.getElementById("block-input").value = "0";
                        }
                        document.getElementById("form").style.display = "block";
                    }
                    set_block_input_default();

                    async function show_results()
                    {
                        clear_error()
                        document.getElementById("results-box").style.display = "block";
                        await get_results();
                        stop_video("results-video");
                        start_video("draw-video");
                    }

                    function clear_error()
                    {
                        clearTimeout(window.timeout);
                        stop_video("results-video");
                        start_video("draw-video");
                        document.getElementById("result-balls").innerHTML = "";
                    }

                    async function get_results()
                    {
                        let results_data = await draw();
                        stop_video("draw-video")
                        start_video("results-video");
                        let results_balls = document.getElementById("result-balls");
                        let index_value   = 0;

                        for (let result of results_data.results) {
                            await sleep(8000);
                            let result_ball = document.createElement("b");
                            result_ball.textContent = ++result;
                            result_ball.classList   = "w3-tag w3-margin-right w3-margin-bottom w3-round w3-card w3-round-xxlarge w3-bold w3-large w3-orange w3-text-black";
                            results_balls.appendChild(result_ball);
                        }
                    }

                    async function draw()
                    {
                        let input   = get_input();
                        let block   = await get_block(input.block);
                        let results = generate_draw_numbers(block.hash, input.base);
                        height  = input.block;
                        hash    = block.hash;
                        instant = block.instant;
                        return {height, hash, results};
                    }


                    function get_input()
                    {
                        let block = document.getElementById("block-input").value;
                        let base  = document.getElementById("base-input").value;
                        console.log("block:", block);
                        console.log("base:",  base);
                        return {block, base};
                    }

                    async function get_block(height)
                    {
                        let hash    = null;
                        let instant = null;
                        try {
                            let response = await fetch(`https://mempool.space/api/block-height/${height}`);
                            if (!response.ok) {
                                if (response.status == 404) {
                                    return block_estimate(height);
                                }
                                throw `Failed to get block ${height}: Error ${response.status}: ${await response.text()}`;
                            }
                            hash = await response.text();

                            response = await fetch(`https://mempool.space/api/block/${hash}`);
                            if (!response.ok) {
                                throw `Failed to get block ${hash}: ${response.statusText}`;
                            }

                            const data      = await response.json();
                            const timestamp = data.timestamp;
                            instant         = new Date(timestamp * 1000).toLocaleString();
                        } catch (error) {
                            return show_error(error);
                        }

                        console.log("hash:",    hash);
                        console.log("instant:", instant);
                        return {hash, instant};
                    }

                    function show_error(error)
                    {
                        console.error(error);
                        document.getElementById("results-box").style.display = "block";
                        document.getElementById("result-balls").innerHTML = error;
                    }

                    async function block_estimate(height) {
                        let response         = await fetch("https://mempool.space/api/blocks/tip/height");
                        const current_height = await response.json();

                        response                = await fetch("https://mempool.space/api/blocks");
                        const blocks            = await response.json();
                        const current_timestamp = blocks[0].timestamp;
                        const delta_blocks      = height - current_height;

                        if (delta_blocks < 0) {
                            return show_error(`Block ${height} already mined.`);
                        }

                        const seconds = delta_blocks * 10 * 60;
                        const date = new Date((current_timestamp + seconds) * 1000);
                        return show_error(`<h4>Wait Draw</h4><p>The block ${height} is not mined. Current block is ${current_height}. Please, wait mining and return back later.</p><p>Draw estimation:</p><p><b>${date.toLocaleString()}</b></p>`);
                    }

                    function generate_draw_numbers(hash, base)
                    {
                        try {
                            let seed = hash.padStart(64, '0');
                            console.log("seed:", seed);

                            seed = BigInt('0x' + seed);
                            base = BigInt(base);

                            let numbers = [];
                            while (seed > 0) {
                                numbers.push(Number(seed % base));
                                seed = seed / base;
                            }

                            results = numbers.reverse();
                            console.log("results:", results);
                            return results;
                        } catch (error) {
                            console.error(hash, error);
                            return `${hash} ${error}`;
                        }
                    }

                    function start_video(video) {
                        document.getElementById(`${video}-container`).style.display = "block";
                        video = document.getElementById(video);
                        video.currentTime = 0;
                        video.play();
                    }

                    function stop_video(video) {
                        document.getElementById(`${video}-container`).style.display = "none";
                        video = document.getElementById(video);
                        video.pause();
                        video.currentTime = 0;
                    }

                    function sleep(ms) {
                        return new Promise(function(resolve) {
                            window.timeout = setTimeout(resolve, ms);
                        });
                    }

                </script>
			</div>
        </div>

        <footer class="w3-container w3-center w3-padding-64 w3-margin-top w3-black">
		    <div>
                <site-menu></site-menu>
                <p class="w3-tiny">Copyright (c) {{ site.time | date: "%Y" }} D. H. B. Marcos.<br>Deo omnis gloria.</p>
            </div>
		</footer>
	</body>
    <script>
        window.addEventListener("load", function() {
            const loading = document.getElementById("loading");
            loading.classList.add("fade-out");

            loading.addEventListener("transitionend", function() {
                loading.remove();
            });
        });
  	</script>
  </html>
