<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{{ site.title }} | {{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">
        <link rel="stylesheet" href="/site/w3-webcomponents.css">
        <link rel="stylesheet" href="/site/code-theme.css">
        <script src="/script/transparentlottery.js"></script>
        <script src="/site/page-spinner.js"></script>
        <script src="/site/page-donation.js"></script>
        <script src="/site/page-menu-item.js"></script>
        <script src="/site/page-menu.js"></script>
        <script src="/site/page-root.js"></script>
        <script src="/site/page-header.js"></script>
        <script src="/site/page-session.js"></script>
        <script src="/site/page-divider.js"></script>
        <script src="/site/page-footer.js"></script>
        <script src="/site/page-form-number.js"></script>
        <script src="/site/page-form-text.js"></script>
        <script src="/site/page-form.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9QGWBDVQ8B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            dataLayer.push('js', new Date());
            dataLayer.push('config', 'G-9QGWBDVQ8B');
        </script>
        <script>

            function setGameParameter(parameter)
            {
                if (parameter == null) {
                    return null;
                }

                parameter = Number(parameter);

                if (isNaN(parameter)) {
                    return null;
                }

                return parameter;
            }

            function getParameterFromURL()
            {
                const queryString = window.location.search;
                const parameters  = new URLSearchParams(queryString);
                const base        = setGameParameter(parameters.get("base"));
                const height      = setGameParameter(parameters.get("height"));
                const roll        = setGameParameter(parameters.get("roll"));
                let name          = parameters.get("name");

                if (name) {
                    name = name.replace(/<[^>]*>/g, "") || "";
                }

                return {name, base, height, roll};
            }

            function getParameterFromForm()
            {
                const name   = document.getElementById("input-name").value;
                const base   = setGameParameter(document.getElementById("input-base").value);
                const height = setGameParameter(document.getElementById("input-height").value);
                const roll   = setGameParameter(document.getElementById("input-roll").value);

                return {name, base, height, roll};
            }

            function showForm(base)
            {
                if (base == null) {
                    document.getElementById("new-game").hidden = false;
                    document.getElementById("results").hidden  = true;
                    return true;
                }
                return false;
            }

            function setURL()
            {
                let parameters = getParameterFromURL();
                if (parameters.name == null && parameters.base == null && parameters.height == null && parameters.roll == null) {
                    parameters = getParameterFromForm();
                }
                if (parameters.name == null && parameters.base == null && parameters.height == null && parameters.roll == null) {
                    return null;
                }

                let parts = [];
                let url   = new URL(window.location.href).origin;

                if (parameters.name) {
                    parts.push(`name=${encodeURIComponent(parameters.name)}`);
                }
                if (parameters.base) {
                    parts.push(`base=${parameters.base}`);
                }
                if (parameters.height) {
                    parts.push(`height=${parameters.height}`);
                }
                if (parameters.roll) {
                    parts.push(`roll=${parameters.roll}`);
                }

                return `${url}/game?${parts.join("&")}`;
            }

            function showResults(results)
            {
                if (Array.isArray(results)) {
                    results = results.map(function (result) {
                        return `<span id="value" class="w3-tag w3-margin-right w3-margin-bottom w3-round w3-card w3-round-xxlarge w3-bold w3-large w3-theme">${String(result)}</span>`;
                    }).join("");
                } else {
                    results = `<div class="w3-card w3-padding w3-round">${results}</div>`;
                }

                document.getElementById("new-game").hidden    = true;
                document.getElementById("results").hidden     = false;
                document.getElementById("numbers").innerHTML  = results;
                document.getElementById("explanation").hidden = false;
                document.getElementById("loading-results").remove();

                const url = setURL();
                if (url !== null) {
                    document.getElementById("link").hidden        = false;
                    document.getElementById("link-url").innerHTML = url;
                }
            }

            function showLoad()
            {
                document.getElementById("results").hidden = false;
            }

            async function draw(name, base, height, roll)
            {
                if (!name || name == null || name == "null") {
                    name = "A Game";
                }

                document.getElementById("name").innerHTML = name;
                document.title = `${name} (Powered by Transparent Lottery)`;

                let terminal = document.getElementById("log");
                let lottery  = new TransparentLottery(base, height, terminal);
                let results  = await lottery.draw(roll);
                showResults(results);
            }

            function toogle(id) {
                let element = document.getElementById(id);
                if (element.className.indexOf("w3-show") == -1) {
                    element.className += " w3-show";
                } else {
                    element.className = element.className.replace(" w3-show", "");
                }
            }

            document.addEventListener("DOMContentLoaded", async function () {
                const parameters = await getParameterFromURL();

                if (!showForm(parameters.base)) {
                    showLoad()
                    await draw(parameters.name, parameters.base, parameters.height, parameters.roll);
                }
            });
        </script>
</head>
    <body>
        <page-root href="/" title="{{ site.title }}" description="{{ site.description }}" bitcoin-address="{{ site.bitcoin_address }}">
            <page-session id="new-game" hidden>
                <page-form id="form" button-text="Get results now!">
                    <h1>New Game</h1>
                    <h2>Game Settings</h2>
                    <p>Configure the parameters for the draw. The results are generated based on the Bitcoin blockchain to ensure complete transparency and fairness.</p>
                    <page-form-text id="input-name" name="name" title="Game Name" description="Name of the game."></page-form-text>
                    <page-form-number id="input-base" name="base" min="2" max="256" default="6" title="Game Base" description="Number of options for each game play."></page-form-number>
                    <page-form-number id="input-height" name="height" min="0" default="0" title="Bitcoin Block Height" description="Height of Bitcoin block."></page-form-number>
                    <page-form-number id="input-roll" name="roll" min="0" default="0" title="Roll Number" description="Roll applied in the draw seed number."></page-form-number>
                </page-form>
                <script>
                    document.getElementById("form").addEventListener("form-execute", async function (event) {
                        const data   = event.detail;
                        const name   = data.name;
                        const base   = Number(data.base);
                        const height = Number(data.height);
                        const roll   = Number(data.roll);

                        await draw(name, base, height, roll);
                    });
                </script>
            </page-session>
            <page-session id="results" color="white" hidden>
                <h1 id="name"></h1>
                <p>Check out the results of the draw below.</p>
                <div id="loading-results">
                    <div class="w3-show-inline-block w3-valign-middle">
                        <page-spinner></page-spinner>
                    </div>
                    <div class="w3-show-inline-block w3-valign-middle w3-margin-left">
                        Loading...
                    </div>
                </div>
                <div class="w3-container w3-padding-32">
                    <div id="numbers"></div>
                </div>
                <div id="link" class="w3-container w3-padding-32">
                    <h2>Share the results with your friends!</h2>
                    <code id="link-url"></code>
                    <button id="link-button" class="w3-button w3-theme w3-round w3-tiny">Copy link</button>
                </div>
                <script>
                    document.getElementById("link-button").addEventListener("click", async function() {
                        const url = setURL();
                        if (url == null) {
                            document.getElementById("link").hidden = true;
                            return;
                        }
                        await navigator.clipboard.writeText(url);
                        document.getElementById("link-button").innerHTML = "Copied!";

                        setTimeout(() => {
                            document.getElementById("link-button").innerHTML = "Copy link";
                        }, 5000);
                    });
                </script>

                <div id="explanation" class="w3-container w3-padding" hidden>
                    <button class="w3-button w3-theme w3-round w3-small" onclick="toogle('log')">Get out results youself</button>
                    <div id="log" class="w3-hide w3-small"></div>
                </div>
            </page-session>
        </page-root>
    </body>
</html>
