<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{{ site.title }} | {{ page.title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">
        <link rel="stylesheet" href="/site/w3-webcomponents.css">
        <link rel="stylesheet" href="/site/code-theme.css">
        <script src="/script/transparentlottery.js"></script>
        <script src="/site/page-donation.js"></script>
        <script src="/site/page-menu-item.js"></script>
        <script src="/site/page-menu.js"></script>
        <script src="/site/page-root.js"></script>
        <script src="/site/page-header.js"></script>
        <script src="/site/page-session.js"></script>
        <script src="/site/page-divider.js"></script>
        <script src="/site/page-footer.js"></script>
        <script src="/site/page-form-number.js"></script>
        <script src="/site/page-form.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9QGWBDVQ8B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-9QGWBDVQ8B');
        </script>

</head>
    <body>
        <page-root href="/" title="{{ site.title }}" description="{{ site.description }}" bitcoin-address="{{ site.bitcoin_address }}">
            <page-session>
                <page-form id="form" button-text="Get results now!">
                    <h1>Game Settings</h1>
                    <p>Configure the parameters for the draw. The results are generated based on the Bitcoin blockchain to ensure complete transparency and fairness.</p>
                    <page-form-number id="input-base" name="base" min="2" max="256" default="6" title="Game Base" description="Number of options for each game play."></page-form-number>
                    <page-form-number id="input-height" name="height" min="0" default="0" title="Bitcoin Block Height" description="Height of Bitcoin block."></page-form-number>
                    <page-form-number id="input-roll" name="roll" min="0" default="0" title="Roll Number" description="Roll applied in the draw seed number."></page-form-number>
                </page-form>
            </page-session>
            <page-session id="results" color="dark-grey"></page-session>
        </page-root>
        <script type="module">

            async function draw(base, height, roll) {
                let terminal = document.getElementById("results");
                let lottery  = new TransparentLottery(base, height, terminal);
                await lottery.draw(roll);
            }

            const form = document.getElementById("form").addEventListener("form-execute", async function (event) {
                const data   = event.detail;
                const base   = Number(data.base);
                const height = Number(data.height);
                const roll   = Number(data.roll);

                await draw(base, height, roll);
            });
        </script>
    </body>
</html>
